// @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2"),
    url("../fonts/Roboto-Medium.woff2") ;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2"),
    url("../fonts/Roboto-Medium.woff2") ;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
body {
    font-family: Roboto , sans-serif;
}