.back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 85px;
  border: none;
  background-color: transparent;
  padding: 8px;
  fill: #950000;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--time) ease-in-out;
}

.back-to-top:hover {
  background-color: #281e7235;
}


.back-to-top.visible {
  display: block;
}

.backdrop__modal-film:not(.is-hidden) ~ .back-to-top{
   display: none;
}
