:root {
    
    --current-color: #B92F2C;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --add-text-color: #8c8c8c;
    --footer-text-color: #545454;
    --background-color: #f7f7f7;
    --backdrop-color: #00000033;
    --time: 250ms;
   
}