<div class="container">
  <div class="pagination pagination--geometry">
    <button class="pagination__button" type="button" data-value="back">
      &#8592;
    </button>
    <button class="pagination__button" type="button" data-value="first">
      1
    </button>
    <button class="pagination__button" type="button" data-value="second">
      2
    </button>
    <button class="pagination__button" type="button" data-value="third">
      3
    </button>
    <button class="pagination__button" type="button" data-value="fourth">
      4
    </button>
    <button class="pagination__button" type="button" data-value="fifth">
      5
    </button>
    <button class="pagination__button" type="button" data-value="forvard">
      &#8594;
    </button>
  </div>
</div>
