.backdrop__modal-film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  padding: 40px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%);
  background-color: white;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding: 45px 65px;
  }

  @media screen and (min-width: 1280px) {
    padding: 40px 12px;
    width: 806px;
    height: 558px;
  }
}
.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: black;
  background-color: transparent;
  border: none;
}

.modal__container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
.modal__card-thumb {
  position: relative;
  margin: auto;
  width: 240px;
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}
.modal__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.modal__info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000000;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}
.modal__title {
  font-size: 20px;
  line-height: 153.333333%;
  /* 23/15 */
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 116.666667%;
    /* 35/30 */
  }
}

.modal__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  line-height: 133.333333%;
  /* 16/12 */
}

.modal__list--first-list {
  color: #8c8c8c;
  width: 100px;
}
.modal__subtitle {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 133.333333%;
  /* 16/12 */
}
.modal__text {
  font-size: 12px;
  line-height: 166.666667%;
  /* 20/12 */
}
.modal__buttons {
  display: flex;
  gap: 4px;
  margin: auto;

  @media screen and (max-width: 319px) {
    flex-wrap: wrap;
  }
}
.modal__btn {
  min-width: 120px;
  height: 34px;
  padding: 10px 12px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  color: #b92f2c;
  font-size: 12px;
  line-height: 116.666667%;
  /* 14/12 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: #b92f2c;
    box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
    color: #ffffff;
    border: 1px solid transparent;
  }
}

.vote-average {
  padding: 1px 10px;
  color: #ffffff;
  background: #b92f2c;
  border-radius: 5px;
}
.modal__symbol {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #8c8c8c;
}
.vote-count {
  padding: 1px 10px;
  color: 000000;
  background: #f7f7f7;
  border-radius: 5px;
}
.modal__item {
  display: flex;
}
