.tui-pagination {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.tui-is-selected {
    background-color: red; /* Цвет фона - красный */
    color: white; /* Цвет текста - белый */
    padding: 5px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    border: none; /* Убрать бордер */
  }
  .tui-pagination .tui-page-btn .tui-last {
    display: none;
  }
  .tui-pagination .tui-page-btn {
    border: none; /* Убрать бордер */
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    display: inline-flex;
    &:last-child {
        margin-right: 0px;
    }
  }
  .tui-pagination .tui-last {
    @media screen and ( max-width: 767px ) {
      display: none;
    }
  }
  
  .tui-pagination .tui-first {
    @media screen  and ( max-width: 767px ) {
      display: none;
    }
  }
  
  .tui-pagination .tui-is-selected, .tui-pagination strong {
    background-color: #B92F2C;
  }
  .tui-pagination .tui-is-selected:hover {
    background-color: #B92F2C;
  }
  .tui-pagination .tui-first-child.tui-is-selected {
    border-left: none;
}
.tui-pagination .tui-last-child.tui-is-selected {
    border-right: none;
}
  .tui-pagination {
    display: flex; /* Устанавливаем контейнеру режим отображения "flex" */
    justify-content: center; /* Выравниваем элементы по горизонтали по центру */
  }
  .tui-pagination .tui-ico-ellip  {
    margin-top: 0;
  }