.pagination {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.pagination__button {
    background-color: transparent;
    border-color: transparent;
}

.pagination__button.activePage {
    background-color: red;
    width: 40px;
    height: 40px;
}