// <div class="trailer-overlay">
//     <a
//       class="trailer-link"
//       href="https://www.youtube.com/watch?v=${videoKey}"
//       target="_blank"
//     >
//       <svg class="play-icon">
//         <use href="../images/icons/sprite.svg#player"></use>
//       </svg>
//     </a>
//   </div>

.trailer-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.475);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.modal__card-thumb:hover .trailer-overlay {
  opacity: 1;
}
